@charset "UTF-8";
/* CSS Document */







/* Base */

body {
	padding-top: 60px;
	background-color:#F3F3F3;
	
}

footer {
	text-align:center;

<<<<<<< HEAD
=======
	
>>>>>>> FETCH_HEAD
}

h2 {
	text-align:center;
}


/* Layout */

.page-title {
	color:#093;
	background-color:#FFF;
	text-align:center;
	
}
.img-responsive2{
	margin:auto;
	padding:auto;
	display:block;
	width:100% \9;
	max-width:100%;
	height:auto;
	
}

.centered-coupons img {
	margin:auto;
	padding:auto;
}

/*
.greentext {
	color: #093;	
}
*/

.dropdown {
	background-color:#FFF;
	float:right;
	
}
.col-sm-6 {
	background-color:#FFF;
}



.whitebackground {
	background-color:#FFF;
}



/* unvisited link */
.secondary-button-links a:link {
    color: #FFF;
	text-decoration: none;
}

/* visited link */
.secondary-button-links a:visited {
    color: #FFF;
	text-decoration: none;
}

/* mouse over link */
.secondary-button-links a:hover {
    color: #093;
	text-decoration: none;
}

/* selected link */
.secondary-button-links a:active {
    color: #FFF;
	text-decoration: none;
}


.align-right {
	text-align:right;
}


/* Module */

/* NAV BAR COLOR CHANGER */

.navbar-inverse { background-color: #F3F3F3}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #093}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #000000}
.dropdown-menu { background-color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #000000}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #000000}
.navbar-inverse .navbar-brand { color: #000000}
.navbar-inverse .navbar-brand:hover { color: #4D4D4D}
.navbar-inverse .navbar-nav>li>a { color: #000000}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #333333}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}
/* END OF= nav bar css coding */


/* State */

/* Theme */


/* BUTTON CUSTOMIZE */

.btn-custom-spin.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-custom-spin {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #999999;
  background-image: -moz-linear-gradient(top, #999999, #999999);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#999999), to(#999999));
  background-image: -webkit-linear-gradient(top, #999999, #999999);
  background-image: -o-linear-gradient(top, #999999, #999999);
  background-image: linear-gradient(to bottom, #999999, #999999);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff999999', endColorstr='#ff999999', GradientType=0);
  border-color: #999999 #999999 #737373;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #999999;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-custom-spin:hover,
.btn-custom-spin:focus,
.btn-custom-spin:active,
.btn-custom-spin.active,
.btn-custom-spin.disabled,
.btn-custom-spin[disabled] {
  color: #ffffff;
  background-color: #999999;
  *background-color: #8c8c8c;
}
.btn-custom-spin:active,
.btn-custom-spin.active {
  background-color: #808080 ;
}


/* END OF BUTTON CUSTOMIZE */








/* HAMBURGER ICON */
.icon-bar {
   background-color:#093 !important;
}
/* END OF HAMBURGER ICON */
